/* Apply styles to the container */
#container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

#objectsDiv {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the minimum and maximum width as needed */
    grid-gap: 20px; /* Increase the gap between items */
    max-width: calc(100% - 20px); /* Adjust the maximum width */
}

/* Apply grid layout to imagesDiv */
#imagesDiv {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the minimum and maximum width as needed */
    grid-gap: 20px; /* Increase the gap between items */
    max-width: calc(100% - 20px); /* Adjust the maximum width */
}

/* Style for images */
img {
    max-width: 250px; /* Adjust the maximum width of the images */
    max-height: 250px;
    display: block;
    margin: 0 auto;
}
